{% extends "layout.html" %}
{% block title %}
Diet
{% endblock %}
{% if not user.is_authenticated %}
<div class="container w-25 ex">
    <p>You have to be logged in first </p>
    <p>You can <a href="{% url 'login' %}">login</a> here</p>
    <p>or <a href="{% url 'register' %}">register</a> here</p>
</div>
{% else %}
{% block body %}
<section>
<div class="ex reveal mt-2" style="min-height: 20vh;">
            <p>
            On this page we will provide you with delicious recipes for breakfast, lunch, dinner and a snack.
            </p>
            <p>
                If you want to switch any meal just click switch next to it and another recipe will be provided.
            </p>
            <p>
            Whole menu will provide you with your calories requirement.
</div>
<div class="container w-50 mb-4 mt-4 p-4 bg-dark bg-gradient rounded text-light reveal diet">
    <div class="d-flex justify-content-between">
        <div>
            <h3>Breakfast</h3>
            <h4 id="breakfast_name">{{breakfast.name}}</h4>
            <ul class="text-light" id="breakfast_ingredients">
                {% for ingredient in breakfast.ingredients %}
                <li class="text-light">{{ingredient}}</li>
                {% endfor %}
            </ul>
            <span id="breakfast_description">{{breakfast.description}}</span>
        </div>
        <div>
            <button class="btn btn-secondary" id="switch_breakfast">Switch</button>
        </div>
    </div>
</div>
<div class="container w-50 mb-4 mt-4 p-4 bg-dark bg-gradient rounded text-light reveal diet">
    <div class="d-flex justify-content-between">
        <div>
            <h3>Lunch</h3>
            <h4 id="lunch_name">{{lunch.name}}</h4>
            <ul class="text-light" id="lunch_ingredients">
                {% for ingredient in lunch.ingredients %}
                <li class="text-light">{{ingredient}}</li>
                {% endfor %}
            </ul>
            <span id="lunch_description">{{lunch.description}}</span>
        </div>
        <div>
            <button class="btn btn-secondary" id="switch_lunch">Switch</button>
        </div>
    </div>
</div>
<div class="container w-50 mb-4 mt-4 p-4 bg-dark bg-gradient rounded text-light reveal diet">
    <div class="d-flex justify-content-between">
        <div>
            <h3>Dinner</h3>
            <h4 id="dinner_name">{{dinner.name}}</h4>
            <ul class="text-light" id="dinner_ingredients">
                {% for ingredient in dinner.ingredients %}
                <li class="text-light">{{ingredient}}</li>
                {% endfor %}
            </ul>
            <span id="dinner_description">{{dinner.description}}</span>
        </div>
        <div>
            <button class="btn btn-secondary" id="switch_dinner">Switch</button>
        </div>
    </div>
</div>
<div class="container w-50 mb-4 mt-4 p-4 bg-dark bg-gradient rounded text-light reveal diet">
    <div class="d-flex justify-content-between">
        <div>
            <h3>Snack</h3>
            <h4 id="snack_name">{{snack.name}}</h4>
            <ul class="text-light" id="snack_ingredients">
                {% for ingredient in snack.ingredients %}
                <li class="text-light">{{ingredient}}</li>
                {% endfor %}
            </ul>
            <span id="snack_description">{{snack.description}}</span>
        </div>
        <div>
            <button class="btn btn-secondary" id="switch_snack">Switch</button>
        </div>
    </div>
</div>
</section>

{% endblock %}
{% endif %}
