{% extends "layout.html" %}
{% block title %}
Login
{% endblock %}
{% block body %}


{% if message %}
<div class="alert alert-primary">{{ message }}</div>
{% endif %}
<div class="container w-25 form">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{field.name}}">{{ field.name|title }}</label>
            {{field}}
            <small id="usernameHelp" class="form-text text-muted">Enter your {{field.name}}</small>
        </div>
        {% endfor %}

        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>



{% endblock %}