{% extends "layout.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block body_class %}dashboard_page{% endblock %}
{% if not user.is_authenticated %}

<div class="container w-25 ex">
    <p>You have to be logged in first </p>
    <p>You can <a href="{% url 'login' %}">login</a> here</p>
    <p>or <a href="{% url 'register' %}">register</a> here</p>
</div>
{% else %}
{% block body %}

    <section id="dashboard">

            <div class="container w-25 mb-4 mt-4 p-2 bg-light bg-gradient rounded adding" style="display: none; position: absolute;" id="meal">
                <div class="text-dark d-flex justify-content-end bg-transparent"><i class="fa-solid fa-xmark" id="cancel_meal"></i></div>
                <div class="form-group">
                    {% for field in form %}
                    <label class="h5" for="{{field.auto_id}}">{{ field.label }}</label>
                    {{field}}
                    <button type="button" class="btn btn-dark" id="meal_button-{{field.auto_id}}">Add meal</button>
                    {% endfor %}
                </div>
                
            </div>

            <div class="container w-25 mb-4 mt-4 p-2 bg-light bg-gradient rounded adding" style="display: none; position: absolute;" id="change_calories">
                <div class="text-dark d-flex justify-content-end bg-transparent"><i class="fa-solid fa-xmark" id="cancel_calories"></i></div>
                <div class="form-group">
                    {% for field in form3 %}
                    <label class="h5" for="{{field.auto_id}}">{{ field.label }}</label>
                    {{field}}
                    <button type="button" class="btn btn-dark" id="change_calories_button">Change Calories</button>
                    {% endfor %}
                </div>

            </div>

            <div class="container w-25 mb-4 mt-4 p-2 bg-light bg-gradient rounded adding" style="display: none; position: absolute;" id="exercise">
                <div class="text-dark d-flex justify-content-end bg-transparent"><i class="fa-solid fa-xmark" id="cancel_exercise"></i></div>
                <div class="form-group">
                    {% for field in form2 %}
                    <label class="h5" for="{{field.auto_id}}">{{ field.label }}</label>
                    {{field}}
                    <button type="button" class="btn btn-dark" id="exercise_button-{{field.auto_id}}">Add Exercise</button>
                    {% endfor %}
                </div>

            </div>


        <div class="container w-50 mb-4 mt-4 p-2 bg-secondary rounded up information" id="overview">
            
            <div class="d-flex justify-content-center container w-100 bg-dark p-4">
                <div>
                    <div>
                        <p class="text-light h3">Remaining calories</p>
                        <h1 id="remaining_calories"  {% if daily_calories >= 0 %} class= "text-success" {% else %} class = "text-danger"  {% endif %} >{{daily_calories}}</h1>
                        {% if user.pk == user_id %} <strong class="text-light" id="daily-limit">Daily Limit: {{calories}} </strong><br><span id="change_calories_link" class="link-light"> Change your limit </span>{% endif %}
                    </div>
                    {% if user.pk == user_id%}
                    <div>
                        <button id="add_exercise" class="btn btn-secondary mt-2">Add exercise</button>
                        <button id="add_meal" class="btn btn-secondary mt-2">Add meal</button>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-between container w-75 mt-2">
                <ul id="calorie-balance-meals" class="list-group bg-transparent">
                    <lh class="list-group-item bg-transparent"><strong>Meals</strong></lh>
                    {% for daily in daily_meals %}
                    <li class="list-group-item bg-transparent">
                        <strong>{{daily}}</strong>
                    </li>
                    {% endfor %}
                    
                </ul>

                <ul id="calorie-balance-exercise" class="list-group bg-transparent">
                    <lh class="list-group-item bg-transparent"><strong>Exercise</strong></lh>
                    {% for daily in daily_exercise %}
                    <li class="list-group-item bg-transparent">
                        <strong>{{daily}}</strong>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="container w-75 d-flex justify-content-between border-top mt-3">
                <strong id="total_meals">Total: {{sum_meals}}</strong>
                <strong id="total_exercise">Total: {{sum_exercise}}</strong>
            </div>
        </div>

        <div class="container w-50 mb-4 mt-4 p-2 bg-secondary rounded up information" id="overview">
            <div class="container w-100">

            </div>
            <canvas id="chart">
            </canvas>
        </div>
        <section class="posts" id="posts-dashboard">
            {% include "_posts.html" with post=post %}
            <div class="loading">
                <div class="d-flex justify-content-center">
                    <i class="fa-solid fa-spinner text-white p-4" id="loading_icon"></i>
                </div>
            </div>
        </section>

    </section>





{% endblock %}
{% endif %}
