{% extends "layout.html" %}
{% block title %}
Exercise
{% endblock %}

{% block body %}
{% if not choice %}
<section id="exercise_page">
    <div class="ex reveal" style="min-height: 50vh;">
        <p>
        In FitnessApp we want to create the best workout routine for your goals !
        </p>
        <p>
        To achieve this we need to ask you some questions. 
        </p>
        <p>
        Let's begin!
        </p>
    </div>
 
        <form action="{% url 'exercise' %}" method="post" enctype="multipart/form-data" id="routine_form">
            {% csrf_token %}
            {% for field in form %}
            <div class="container w-25 rounded questions bg-dark reveal text-center" id={{field.name}} style="min-height: 0; padding: 20px;">
                <div class="form-group">
                    {% if field.name == "days_per_week" %}
                    <p>How many days per week you want to workout?</p>
                    {% elif field.name == "gym" %}
                    <p>Do you have acces to the gym ?</p>
                    {% elif field.name == "hypertrophy" %}
                    <p>Do you want to build muscle ?</p>
                    {% else %}
                    <p>Do you want to lose weight ?</p>
                    {% endif %}
                    {{field}}
                </div>
                {% if field.name == 'weightloss' %}
                    <button class="btn btn-secondary" type="submit" id="final" disabled="true">Create routine</button>
                {% else %}
                    <button class="btn btn-secondary next" id={{field.name}}_button type="button">Next question</button>
                {% endif %}

            </div>
            {% endfor %}
        </form>
</section>
{% else %}
<section id="exercise_choice">
    <div class="ex reveal mt-2" style="min-height: 20vh;">
        <p>
        Here is your exercise plan!
        </p>
        <p>
        Remember to take day off between strength days 
        </p>
        <p>
        If you can work out more than 4 days a week use these days to do cardio !
        </p>
        <p>
            If you want to change the routine just click the "Change Routine" buttond
        </p>
        <button class="btn btn-secondary" id="change_routine">Change Routine</button>
    </div>
    <div style="text-align: center;">
        <ul class="reveal" id="routine" style="list-style: none;">

            {% for workout in routine %}
            <li class="workouts">
                {% if forloop.counter == 1 %}
                <p>First Day</p>
                {% elif forloop.counter == 2 %}
                <p>Second Day</p>
                {% elif forloop.counter == 3 %}
                <p>Third Day</p>
                {% elif forloop.counter == 4 %}
                <p> Fourth Day</p>
                {% elif forloop.counter == 5 %}
                <p>Fifth Day</p>
                {% elif forloop.counter == 6 %}
                <p>Sixth Day</p>
                {% endif %}
                {{ workout.name }}
                <ul class="list-group list-group-flush">
                {% for exercise in workout %}
                    <li style="color: white" class="list-group-item bg-dark">
                        {{exercise}}
                    </li>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
{% endblock %}
