{% extends "layout.html" %}
{% block title %}
Main
{% endblock %}

{% block body %}
<section>
    <div class="container w-100 ad">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <p class="adtext">
                    FitnessApp is not another workout site. It's lifestyle.
                    We offer workout plan as well as diet plans.
                    24/7 contact with our trainers and dietitians.
                    Achieve your goals by combining strength training with stretching, cardio and Nutrition !
                </p>
                <h1 class="main_link"><a href="{% url 'exercise' %}" class="link">The Workouts </a><i class="fa-solid fa-chevron-right"></i></h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}
