{% extends "layout.html" %}
{% block title %}
{{client.username}}
{% endblock %}
{% block body %}
<h1>{{client.username}}'s profile</h1>
<div class="container w-50">
    <div class="col">
        {% if client.profile_pic %}
        <img src={{client.profile_pic.url}} class="img-fluid">
        {% else %}
        <img src="/media/media/pobrane.png" class="img-fluid">
        {% endif %}
    </div>
    <div class="col">
        <div class="row">
            {{client.username}}
        </div>
        <div class="row">
            {{client.email}}
        </div>
        <div class="row">
            {{client.calories}}
        </div>
    </div>

</div>



{% endblock %}