{% extends "layout.html" %}
{% block title %}
Register
{% endblock %}
{% block body %}


{% if message %}
<div>{{ message }}</div>
{% endif %}
<div class="container w-25 border rounded form">
    <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{field.name}}">{{ field.name|title }}</label>
            {{field}}
            {% if field.name == "Confirm" %}
            <small id="usernameHelp" class="form-text text-muted">Confirm password</small>
            {% else %}
            <small id="usernameHelp" class="form-text text-muted">Enter {{field.name}}</small>
            {% endif %}
        </div>
        {% endfor %}

        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>



{% endblock %}