body { 
    padding-top: 10%;
    background-color: whitesmoke;
    
}
body.main-page { 
    padding-top: 10%;
    background-color: darkgray;
    
}
.container
{
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    background-color: white;
}
.adtext{
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: normal;
}

.ad{
    padding: 0px;
}

.main_link{
    color: #E21C21;
    font-size: 22px;
}

.link{
    text-decoration: none;
    color: #E21C21;
}

.link:hover{
    color: #800000;
}

.main_link:hover{
    color: #800000;
}

.adtext{
    font-size: 20px;

}

.work-pic{
    padding-right: 0px;
    border: 1px;
}

.diet-pic{
    padding-left: 0px;
    border: 1px;
}
