body { 
    background-color: whitesmoke; 
}
.body{
    padding-top: 60px;
}
body.main-page { 
    padding-top: 10%;
    background-color: darkgray;
    
}
.form
{
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    background-color: white;
}
.adtext{
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: normal;
}

.ad{
    padding: 0px;
}

.main_link{
    color: #E21C21;
    font-size: 22px;
    margin: 10px;
}

.link{
    text-decoration: none;
    color: #E21C21;
}

.link:hover{
    color: #800000;
}

.main_link:hover{
    color: #800000;
}

.adtext{
    font-size: 20px;
    padding: 10px;
}

.reveal{
    padding: 0px;
}
.footer{
    padding: 0px;
}
.row footer{
    margin: 0px;
}

  