html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}

.body{
    padding-top: 50px;
    background-color: black;
}

body.main-page { 
    padding-top: 10%;
    background-color: darkgray;
    
}

.form
{
    padding: 10px;
    box-shadow: 5px 10px 8px #353538;
    color: Gainsboro;
    min-height: 30vh;
    margin-top: 100px;
    margin-bottom: 100px;

}

textarea{
    width: 100%;
}

.show_comments{
    cursor: pointer;
}

.questions{
    padding: 10px;
    box-shadow: 5px 10px 8px #353538;
    color: Gainsboro;
    margin-top: 50px;
    margin-bottom: 100px;
}

.adtext{
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: normal;
    color: Gainsboro;
}

.ad{
    padding: 0px;
    background-color: black;
}

.main_link{
    color: #E21C21;
    font-size: 22px;
    margin: 10px;
}

.link{
    text-decoration: none;
    color: #E21C21;
}

.link:hover{
    color: #800000;
}

.main_link:hover{
    color: #800000;
}

.adtext{
    font-size: 20px;
    padding: 10px;
}

.ex{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 33vh;
    color: Gainsboro;
}

#routine_form{
    transition-delay: 500ms;
}
#routine{
    transition-delay: 500ms;
    display: inline-block;
}

.comment_body
{
    white-space: pre-wrap;
}

.post_body
{
    white-space: pre-wrap;
    max-height: fit-content;
}

.fa-xmark
{
    cursor: pointer;
}

#loading_icon
{
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate { 
    to{
        transform: rotate(360deg);
    }
}

.options:hover{
    background-color: #353538;
    border-radius: 10%;
    cursor: pointer;
}

.reveal{
    padding: 0px;
    min-height: 70vh;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.workouts{
    margin: 20px;
    color: Gainsboro;
}

.revealed{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.post{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 0.5s;
}

.deleted{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.footer{
    padding: 0px;
}
.row footer{
    margin: 0px;
}

.navbar{
    transition: top 0.3s;
}


  